.todo-container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    font-family: Arial;
  }
  
  input {
    padding: 8px;
    width: 70%;
  }
  
  button {
    padding: 8px 12px;
    margin-left: 5px;
  }
  
  li {
    text-align: left;
    padding: 8px;
    margin-top: 5px;
    background: #f0f0f0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
}